@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --backgroud-color: #090909;
  --main-text-color: #fff;
}

body {
  background-color: var(--backgroud-color);
  color: var(--main-text-color);
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

main {
  width: 100dvw;
  height: 100dvh;
}

.nav {
  padding: 4rem;
  font-family: var(--font-family-syne);
  font-weight: 600;
  font-size: 2rem;
  display: inline-block;
}