@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --backgroud-color: #000;
  --main-text-color: #fff;
}

body {
  background-color: var(--backgroud-color);
  color: var(--main-text-color);
}