@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

body {
  color: rgb(var(--foreground-rgb));
  background: linear-gradient(
      to bottom,
      transparent,
      rgb(var(--background-end-rgb))
    )
    rgb(var(--background-start-rgb));
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}

.anim-gradient {
  background: linear-gradient(
    45deg,
    #ffadad,
    #ffd6a5,
    #fdffb6,
    #caffbf,
    #9bf6ff,
    #a0c4ff,
    #bdb2ff,
    #ffc6ff
  );
  background-size: 1000% 1000%;
  -webkit-animation: rangeen 8s ease infinite;
  -moz-animation: rangeen 8s ease infinite;
  -o-animation: rangeen 8s ease infinite;
  animation: rangeen 8s ease infinite;
}

@-webkit-keyframes rangeen {
  0% {
    background-position: 0% 20%;
  }
  50% {
    background-position: 100% 0%;
  }
  100% {
    background-position: 0% 20%;
  }
}
@-moz-keyframes rangeen {
  0% {
    background-position: 0% 20%;
  }
  50% {
    background-position: 100% 0%;
  }
  100% {
    background-position: 0% 20%;
  }
}
@-o-keyframes rangeen {
  0% {
    background-position: 0% 20%;
  }
  50% {
    background-position: 100% 0%;
  }
  100% {
    background-position: 0% 20%;
  }
}
@keyframes rangeen {
  0% {
    background-position: 0% 20%;
  }
  50% {
    background-position: 100% 0%;
  }
  100% {
    background-position: 0% 20%;
  }
}

/* hide scroll bar */
::-webkit-scrollbar {
  display: none;
}
